:root {
    --backgroundColor: rgb(192, 192, 192);
    --textColor: rgb(44, 44, 44);
    --highlightColor: rgb(11, 24, 110);
}

@font-face {
    font-family: helvetica;
    src: url(./fonts/Helvetica.ttf);
}

@font-face {
    font-family: helvetica-bold;
    src: url(./fonts/Helvetica-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--backgroundColor);
    height: 100%;
    font-family: Helvetica;
    padding: 32px;
    color: var(--textColor);
    font-size: 125%;
}

h1 {
    font-family: Helvetica-Bold;
}

header {
    text-align: center;
}

a {
    color: var(--highlightColor);
}

a:hover {
    opacity: 0.5;
}

section {
    margin-top: 32px;
    margin-bottom: 64px;
}

ul {
    margin-top: 8px;
    margin-left: 24px;
}

hr {
    border: 0;
    border-top: solid var(--textColor) 1px;
}

.gallery {
    margin-top: 8px;
    margin-left: 8px;
}

.gallery img {
    max-height: 480px;
    cursor: pointer;
    border-radius: 8px;
}

.gallery img:hover {
    opacity: 0.8;
}

.fullscreen-image-container, .fullscreen-shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.fullscreen-shadow {
    background-color: black;
    opacity: 0.8;
}

.fullscreen-image-container {
    z-index: 2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .container { 
        font-size: 100%;
        padding: 8px;
    }

    .gallery img {
        max-height: unset;
        width: calc(50% - 4px);
        cursor: pointer;
    }

    .gallery {
        margin-left: 0;
        margin-top: 16px;
    }

    .gallery .single img {
        width: 100%;
    }

    section {
        margin-bottom: 32px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .gallery .single img {
        width: 64%;
    }

    .gallery img {
        max-height: unset;
        width: 32%;
        cursor: pointer;
    }

    .container { 
        padding: 16px;
    }
}