@import url("./template.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--backgroundColor);
    height: 100%;
    font-family: Helvetica;
    padding: 32px;
    color: var(--textColor);
    font-size: 125%;
}

.title-description {
    width: 50%;
    margin: auto;
    margin-top: 8px;
}

.title-description span {
    font-size: 75%;
    line-height: 12px;
}

h1 {
    font-family: Helvetica-Bold;
}

header {
    text-align: center;
    margin-bottom: 32px;
}

a {
    color: var(--highlightColor);
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

section {
    margin-top: 32px;
    margin-bottom: 64px;
}

section:first-of-type {
    margin-top: 0;
}

ul {
    margin-top: 8px;
    margin-left: 24px;
}

hr {
    border: 0;
    border-top: solid var(--darkGray) 1px;
    /* width: 480px; */
    width: 100%;
    /* display: none; */
}

h3 {
    /* text-decoration: underline; */
}

.gallery {
    margin-top: 8px;
    margin-left: 8px;
}

.gallery img {
    max-height: 480px;
    cursor: pointer;
    clip-path: inset(1px 1px 1px 1px); 
    border-radius: 8px;
}

.gallery img:hover {
    opacity: 0.8;
}

.fullscreen-image-container, .fullscreen-shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.fullscreen-shadow {
    background-color: black;
    opacity: 0.8;
    z-index: 10;
}

.fullscreen-image-container {
    z-index: 11;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.fullscreen-image-container img {
    clip-path: inset(1px 1px 1px 1px); 
}

li, span {
    line-height: 40px;
}

#go-up {
    position: sticky;
    top: 8px;
    float: right;
    z-index: 2;
    font-family: Helvetica-Bold;
}

@media (min-width: 769px) {
    section {
        margin-left: 240px;
        margin-right: 240px;
    }
    
    #go-up {
        right: 270px;
    }
}

@media (max-width: 768px) {
    .title-description {
        width: 75%;
    }
    
    .container { 
        font-size: 100%;
        padding: 8px;
    }

    .gallery img {
        max-height: unset;
        width: calc(50% - 4px);
        cursor: pointer;
    }

    .gallery {
        margin-left: 0;
        margin-top: 16px;
    }

    .gallery .single img {
        width: 100%;
    }

    section {
        margin-bottom: 32px;
    }

    li, span {
        line-height: 32px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .gallery .single img {
        width: 64%;
    }

    .gallery img {
        max-height: unset;
        width: 32%;
        cursor: pointer;
    }

    .container { 
        padding: 16px;
    }
}