@import url("./template.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--backgroundColor);
    height: 100%;
    font-family: Helvetica;
    color: var(--textColor);
    font-size: 1vw;
    line-height: 1.5vw;
}

h1 {
    font-family: Helvetica-Bold;
    padding-top: 2vw;
    padding-bottom: 1svw;
}

header {
    text-align: center;
    padding-bottom: 2vw;
}

a {
    color: var(--highlightColor);
    text-decoration: none;
}

.gotoLink {
    font-size: 150%;
}

.link-icon {
    color: var(--highlightColor);
    transform: rotate(-135deg);
    font-size: 150%;
}

a:hover {
    opacity: 0.5;
}

section {
    margin: auto;
    max-width: 100%;
    aspect-ratio: 16/9;
    background-color: rgb(123, 123, 123);
    position: relative;
    overflow: hidden;
    margin: 2vw;
    border-radius: 0.5vw;
}

section:first-of-type {
    margin-top: 0;
}

section .square {
    position: absolute;
    overflow: hidden;
    border-radius: 0.5vw;
}

section h3 {
    margin-bottom: 0.5vw;
}

section .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding: 1vw 2vw;
}

section .transparent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
}

.gallery {
    height: 100%;
    width: 100%;
}

.gallery img {
    height: 100%;
    clip-path: inset(1px 1px 1px 1px); 
    cursor: pointer;
    border-radius: 1vw;
}

.gallery img:hover {
    opacity: 0.8;
}

.fullscreen-image-container, .fullscreen-shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    user-select: none;
}

.fullscreen-shadow {
    background-color: black;
    opacity: 0.8;
    z-index: 10;
}

.fullscreen-image-container {
    z-index: 11;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.fullscreen-image-container img {
    clip-path: inset(1px 1px 1px 1px); 
}

#go-up {
    position: fixed;
    z-index: 2;
    font-family: Helvetica-Bold;
    transform: rotate(180deg);
    color: var(--backgroundColor);
    background-color: orange;
    border-radius: 1000px;
    bottom: 1vw;
    right: 1vw;
    font-size: 5vw;
}

