:root {
    --backgroundColor: rgb(240, 240, 240);
    --textColor: rgb(75, 75, 75);
    --highlightColor: rgb(136, 136, 255);
    --darkGray: rgb(175, 175, 175);
    --gray: rgb(224, 224, 224);
    --blue: rgba(0, 60, 255, 0.171);   
    --instructions: rgb(0, 30, 164);
}

@font-face {
    font-family: helvetica;
    src: url(./fonts/Helvetica.ttf);
}

@font-face {
    font-family: helvetica-bold;
    src: url(./fonts/Helvetica-Bold.ttf);
}

::selection {
    background-color: var(--highlightColor); 
}